[submodule "keycloak-spring-boot-backend"]
	path = keycloak-spring-boot-backend
	url = git@github.com:saint-rivers/keycloak-spring-boot-backend.git
[submodule "keycloakify-starter-sample"]
	path = keycloakify-starter-sample
	url = git@github.com:saint-rivers/keycloakify-starter-sample.git
[submodule "react-keycloak"]
	path = react-keycloak
	url = git@github.com:saint-rivers/react-keycloak.git
[submodule "angular-keycloak"]
	path = angular-keycloak
	url = git@github.com:saint-rivers/angular-keycloak.git
